@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");

// ---------------------------BASE---------------------
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; //10/16=62.5% -> 1 rem = 10px

    @media only screen and (max-width: $bp-1200) {
        font-size: 50%;
    }

    @media only screen and (max-width: $bp-600) {
        font-size: 35%;
    }
}

body {
    font-family: "Roboto", sans-serif;
    color: $color-grey-dark;
    background-color: $color-white;
    font-weight: 300;
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

.error {
    animation: fade 1s;
    width: fit-content;
    font-size: 1.5rem;
    color: red;
    border-bottom: 0.1rem solid red;
    padding: 0.5rem;
    margin: 1rem auto;
}

.loading {
    display: flex;
    justify-content: center;
    margin: 1rem auto;
    padding: 1rem;
    font-size: 1.8rem;
}
