//Variables are injec ted into every file through Vite config

// COLOR VARIABLES
$color-primary: #ffc905;

$color-grey-dark: #141414;
$color-grey-light: #e0e0e0;

$color-white: #fff;
$color-green: rgb(103, 199, 103);

// FONT VARIABLES
$font-primary: "Roboto", sans-serif;

// --------------------------MEDIA QUERIES-------------------------------
$bp-1200: 75em; //1200px / 16px
$bp-1000: 62.5em;
$bp-800: 50em;
$bp-600: 37.5em;

// -----------------Animations----------------
@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
